{% extends 'main/base.html' %}
{% load static %}
{% block additional %}

<title>Dashboard {{ user }}</title>
{% endblock %}

{% block content %}


<div class="container">
    <br>
    <h1 class="bg-dark rounded-pill text-light p-2" align="center">PESANAN ANDA</h1>
    <hr>
    <div class="row">
            {% autoescape off %}
            {% for p in pesanan %}
        <div style="padding:18px; justify-content: space-between;" class="">
            <div class="card mb-4 h-100">
                <div class="card-body">
                        <div class="article">
				<h5 class="card-title">Pesanan {{ user }}-{{ p.mobil.plat  }}</h5>
				 {% if p.selesai and p.approved %}

                                <h5>Status: Selesai</h5>
                                {% elif p.approved %}

                                <h5>Status: Sedang dipakai</h5>

                                {% else %}

                                <h5>Status: Menunggu konfirmasi</h5>

                                {% endif %}

        <p class="text-muted h6">{{ p.mobil.nama }} | {{ p.mobil.plat }} </p>
 		<img style="width:300px; height:200px; object-fit: cover;" src="{{ p.mobil.gambar.url }}">

                        <p>Pesanan Dibuat: {{ p.pesanan_dibuat  }}</p>
                        <p>Tanggal Mobil diambil: {{ p.tgl_pesan }}</p>
                        <p>Tanggal Kembali: {{ p.tgl_kembali }}</p>
                        <p>Harga: {{ p.harga }} ({{ hari }} hari)</p>
                        {% if p.selesai %}
                        <p>Tanggal Selesai: {{ p.tanggal_selesai }}</p>
                        {% if p.denda == 0.3 %}
                        <p>Denda: 30% x Keterlambatan</p>
                        {% else %}
                        <p>Denda: 0</p>
                        {% endif %}

                        <p>Total: {{ p.total }}</p>
                        {% endif %}

                        </div>
                </div>
                {% if not p.approved %}
		<a href="?plat={{ p.mobil.plat }}">
            <div class="text-center">
                        <button value="batal" class="btn btn-danger" type="submit">Batalkan Pesanan</button>
               </div> 
                </a>
                {% endif %}
		{% if p.selesai %}	
		<a href="{% url 'detail' p.mobil.plat|lower %}#testi">
            <div class="text-center">
                        <button value="batal" class="btn btn-primary" type="submit">Beri Testi</button>
                </div>
                </a>
		{% endif %}
        </div>
            </div>

            {% endfor %}
        {% endautoescape %}
    </div>
</div>

{% endblock %}
