{% extends 'main/base.html' %}
{% block additional %}
  <title>RentCar</title>
{% endblock additional %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<header>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
          <h1 class="color">RENTCAR</h1>
          <p>
            Pilihan Terbaik Rental Mobil, Tarif Murah, Layanan Prima, Armada Lengkap dan Bersih, Driver Terpercaya.
          </p>
	  <a href="{% url 'pesan'  %}">
          <button class="btn btn-light px-5 py-2 primary-btn">
            RENTAL NOW
          </button>
	  </a>
        </div>
        <div class="col-md-5 col-sm-12  h-25">
          <img src="{% static "img/headvektor1.png" %}" alt="Car" style="height: 400px; width: 500px;"/>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  </div>
  <main>
    <section class="section-1">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="pray">
              <img src="{% static "img/ban2.jpg" %}" alt="car" class="" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="panel text-left">
              <h1>RENTCAR</h1>
              <p class="pt-4">
                RentCar adalah perusahaan Rental Mobil terpercaya di Indonesia yang sudah berpengalaman dalam penyediaan alat transportasi darat untuk Anda. Kami siap melayani sepenuh hati 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center">
          <h1>Some Features That Made Us Unique</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, eum?
          </p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          <div class="rect">
            <img src="{% static "img/ICON-sdm.png" %}" alt="">
            <p>Supir Berpengalaman
            <div style="font-weight: 100; font-size: 14px; margin-top: -8px;"> Supir yang kami berikan kepada Anda telah berpengalaman dan mengenal wilayah.</div></p>
          </div>
          <div class="rect">
            <img src="{% static "img/ICON-rep.png" %}" alt="">
            <p>Kondisi Mobil Terawat<div style="font-weight: 100; font-size: 14px; margin-top: -8px;">Perawatan rutin selalu kami lakukan, yaitu perawatan mobil harian, mingguan bulanan.</div></p>
          </div>
          <div class="rect">
            <img src="{% static "img/ICON-hrg.png" %}" alt="">
            <p>Harga Rental Murah <div style="font-weight: 100; font-size: 14px; margin-top: -8px">Kami jamin tarif yang kami tawarkan sangat murah kompetitif.</div></p>
          </div>
          <div class="rect">
            <img src="{% static "img/ICON-mudah.png" %}" alt="">
            <p>Proses Sewa Mudah <div style="font-weight: 100; font-size: 14px; margin-top: -8px">Proses rental dan sewa mobil cukup mudah, hanya telepon atau WA ke contact center kami</div></p>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-3 container-fluid p-0 text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>Testimoni</h1>
          </p>
        </div>
      </div>
      <div class="container">
    <div class="row">
            {% autoescape off %}
            {% for t in testi %}
        <div style="padding:20px;" class="col-sm-12 col-lg-6 align-items-stretch">
            <div class="card mb-4 h-100">
                <div class="card-body">
                        <div class="article">
				<p class="text-muted">{{ t.mobil.nama  }} | {{ t.mobil.plat  }} | {{ t.dibuat_pada }} | {{ t.nama }}</p>
                    <p class="card-text">{{ t.isi|truncatechars_html:100 }}</p>
                    <p>---------------------</p>
                        </div>
                </div>

        </div>
            </div>

            {% endfor %}
        {% endautoescape %}
    </div>
</div>
    </section>

  </main>
  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">RENTCAR</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: blue;">
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">MENU</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: blue;">
          <p>
            <a href="#!">HOME</a>
          </p>
          <p>
            <a href="#!">CAR LIST</a>
          </p>
          <p>
            <a href="#!">CONTACT</a>
          </p>
          <p>
            <a href="#!">ABOUT</a>
          </p>

        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Malang, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>achmadsymsl87@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 221 234 567 88</p>
          <p>
            <i class="fas fa-print mr-3"></i>+921 211 324</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="{% static "js/main.js" %}"></script>
</body>

</html>
{% endblock content %}
