{% extends 'main/base.html' %}
{% block additional %}

<title>form pemesanan</title>
{% endblock %}
{% block content %}

<div class="jumbotron">
	<h2 style="text-align:center">Sewa Mobil</h2>
	{% if terpesan %}
	<h3 style="text-align:center">Terima Kasih</h3>
	{% else %}
	<form method="POST" enctype="multipart/form-data">
		{% load crispy_forms_tags %}
		{% csrf_token %}
		{{ form | crispy }}
		<p class="text-muted">*Harga dihitung perhari dengan lama peminjaman maksimal 30 hari</p>
		<input type="submit" value="pesan">
	</form>
	{% endif %}
</div>

{% endblock %}
