{% extends 'main/base.html' %}
{% load static %}
{% block additional %}
<!doctype html>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/product-detail.css" %}">
    {% endblock %}
{% block content %}
<body class="bg-warning">
    <br><br>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="container shadow rounded bg-light" style="padding: 50px 100px">
        <br><br>
        <h1 class="display-4" align="center"><b>Detail Car</b></h1><hr>
        <h1 align="left">{{nama}}</h1>
        <div id="carouselExampleIndicators" style="max-height: 70vh;" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" style="max-height: 70vh; height: auto">
            <div class="carousel-item active">
                <img src="{{mobil.gambar.url}}" style="max-height: 70vh; height: auto" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{mobil.gambar2.url}}" style="max-height: 70vh; height: auto" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="{{mobil.gambar3.url}}" style="max-height: 70vh; height: auto" class="d-block w-100" alt="...">
          </div>
	  {% if mobil.gambar4 %}
          <div class="carousel-item">
              <img src="{{mobil.gambar4.url}}" style="max-height: 70vh; height: auto" class="d-block w-100" alt="...">
	      {% endif %}
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
<div class="card mb-5">
	<div class="card-body">
    <p class="lead"><b>Nama : </b>{{mobil.nama}}</p>
    <p class="lead"><b>Plat : </b>{{mobil.plat}}</p>
    <p class="lead"><b>Harga : Rp </b><span class="text-danger">{{mobil.harga}}</span> / hari</p>
    <p class="lead"><b>Tipe : </b>{{mobil.tipe}}</p>
    <p class="lead"><b>transmisi : </b>{{mobil.transmisi}}</p>
    {% if mobil.status == "Available" %}
        <p class="lead"><b>Status : </b><span class="text-success">{{mobil.status}}</span></p>
    {% else %}
        <p class="lead"><b>Status : </b><span class="text-danger">{{mobil.status}}</span></p>
    {% endif %}
    <p class="lead">
        <b>Deskripsi : </b>{{mobil.deskripsi | linebreaks}}
    </p>
	</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
{% endblock %}
